/* Layout mixins */
/* Color gradients */
/* Color variables */
/* CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul a,
ol a {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
}

ul li, ul li > a,
ol li,
ol li > a {
  text-decoration: none;
  list-style: none;
}

/* Font Family */
* {
  font-family: sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 4.143rem;
  font-weight: 700;
  letter-spacing: 0.014rem;
  line-height: 5.714rem;
}

h2 {
  font-size: 2.857rem;
  font-weight: 700;
  letter-spacing: 0.014rem;
  line-height: 4.071rem;
}

h3 {
  font-size: 1.714rem;
  font-weight: 700;
  letter-spacing: 0.007rem;
  line-height: 2.286rem;
}

h4 {
  font-size: 1.429rem;
  font-weight: 500;
  letter-spacing: 0.014rem;
  line-height: 2.143rem;
}

h5 {
  font-size: 1.143rem;
  font-weight: 800;
  letter-spacing: 0.007rem;
  line-height: 1.714rem;
}

h6, textarea::placeholder, input::placeholder {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.014rem;
  line-height: 1.714rem;
}

button {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.014rem;
  line-height: 1.571rem;
}

p, label {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.014rem;
  line-height: 1.429rem;
}

li, li > a {
  font-size: 1.429rem;
  font-weight: 400;
  letter-spacing: 0.014rem;
  line-height: 2.143rem;
}

a {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.014rem;
  line-height: 1.714rem;
}

li > a, li > a > a {
  font-size: 2rem;
}

a:visited {
  color: #fafafa;
  text-decoration: none;
}

nav > ul > li {
  font-size: 2.143rem;
  font-weight: 400;
  letter-spacing: 0.014rem;
  line-height: 3.214rem;
}

input::placeholder {
  font-weight: 400;
  font-style: italic;
  color: #737373;
}

textarea::placeholder {
  font-weight: 400;
  font-style: italic;
  color: #737373;
}

.hero-cta, .hero-info {
  border: solid transparent 1px;
  border-radius: 2.643rem;
  width: 45%;
  padding: 0.8rem;
  cursor: pointer;
  background-color: #23a6f0;
  text-align: center;
  color: #fafafa;
}
@media (min-width: 768px) {
  .hero-cta:hover, .hero-info:hover {
    background-color: #fafafa;
    border: solid #23a6f0 1px;
    color: #23a6f0;
    transition: 1s;
  }
}

.hero-info {
  border: solid 1px #fafafa;
  width: 35%;
  background-color: transparent;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .hero-info {
    margin: 0;
  }
  .hero-info:hover {
    background-color: #fafafa;
    border: solid #23a6f0 1px;
    color: #23a6f0;
    transition: 1s;
  }
}

.submit-btn {
  border: solid transparent 1px;
  border-radius: 0.4rem;
  cursor: pointer;
  width: 100%;
  padding: 0.6rem;
  background-color: #23a6f0;
  color: #fafafa;
  font-size: 1.15rem;
}
@media (min-width: 768px) {
  .submit-btn {
    width: 50%;
  }
  .submit-btn:hover {
    background-color: #fafafa;
    border: solid #23a6f0 1px;
    color: #23a6f0;
    transition: 1s;
  }
}

.card-blue, .card-white {
  border: solid transparent 2px;
  border-radius: 0.5rem;
  width: 80%;
  padding: 1.5rem;
  background-color: #23a6f0;
}
.card-blue figure, .card-white figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.card-blue figure img, .card-white figure img {
  width: 25%;
  color: #fafafa;
}
.card-blue figure h5, .card-white figure h5 {
  color: #fafafa;
}
@media (min-width: 768px) {
  .card-blue:hover, .card-white:hover {
    border: solid #fafafa 2px;
  }
}
@media (min-width: 1920px) {
  .card-blue, .card-white {
    height: 25vh;
  }
}

.card-white {
  background-color: #fafafa;
}
.card-white figure h5 {
  color: #252b42;
}
@media (min-width: 768px) {
  .card-white:hover {
    border: solid #23a6f0 2px;
  }
}
@media (min-width: 1920px) {
  .card-white {
    height: 25vh;
  }
}

.client-card {
  width: 80%;
  padding: 1rem;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.client-card h3 {
  width: 100%;
  text-align: left;
  color: #252b42;
}
.client-card h6, .client-card input::placeholder, .client-card textarea::placeholder {
  width: 100%;
  text-align: left;
  color: #737373;
}
.client-card__rate {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 0.3rem;
}
.client-card p, .client-card label {
  width: 100%;
  padding: 0 8rem 0 0;
  text-align: left;
  color: #737373;
}
@media (min-width: 768px) {
  .client-card p, .client-card label {
    width: 100%;
  }
}
@media (min-width: 1920px) {
  .client-card p, .client-card label {
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) {
  .client-card {
    padding: 2rem;
  }
}
@media (min-width: 1920px) {
  .client-card {
    width: 100%;
    height: 45vh;
    padding: 2.5rem;
  }
}

footer {
  width: 100%;
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #252b42;
}

.footer__copy {
  width: 90%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.footer__copy h6, .footer__copy input::placeholder, .footer__copy textarea::placeholder {
  text-align: center;
  color: #fafafa;
}
.footer__copy p, .footer__copy label {
  text-align: center;
  color: #fafafa;
  font-size: 0.75rem;
}
.footer__copy p a, .footer__copy label a {
  text-decoration: none;
  font-size: 0.75rem;
}

.footer__contact {
  width: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.footer__contact h5 {
  width: 100%;
  margin-top: 1.5rem;
  text-align: left;
  color: #fafafa;
}
.footer__contact ul {
  width: 100%;
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.footer__contact ul li, .footer__contact ul li > a {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.footer__contact ul li h6, .footer__contact ul li input::placeholder, .footer__contact ul li textarea::placeholder {
  text-align: left;
  color: #fafafa;
}
.footer__contact ul li a {
  color: #fafafa;
}

.footer__socials {
  width: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.footer__socials ul {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.footer__socials ul li, .footer__socials ul li > a {
  width: auto;
}
.footer__socials ul li a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 0;
}
.footer__socials ul li a img {
  width: 80%;
}
@media (min-width: 768px) {
  .footer__socials ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
}

.contact {
  width: 100%;
  padding: 4rem 0 1rem 0;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.contact__head {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
.contact__head h5 {
  width: 100%;
  text-align: left;
  color: #252b42;
}
.contact__head h2 {
  width: 95%;
  margin-left: 1rem;
  text-align: left;
  color: #252b42;
}
@media (min-width: 768px) {
  .contact__head {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .contact__head {
    width: 60%;
  }
}
.contact form {
  width: 90%;
  padding: 1rem 0 1rem 0;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.contact form fieldset {
  border: transparent;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.contact form fieldset ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.contact form fieldset ul li, .contact form fieldset ul li > a {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
  gap: 0;
}
.contact form fieldset ul li label {
  width: 25%;
  color: #252b42;
}
.contact form fieldset ul li input {
  border: solid #bdbdbd 2px;
  border-radius: 0.25rem;
  width: 100%;
  padding: 1rem;
  height: 3.5rem;
  margin-top: 0.5rem;
}
.contact form fieldset ul li textarea {
  border: solid #bdbdbd 1px;
  border-radius: 0.25rem;
  width: 100%;
  padding: 1rem;
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  .contact form {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .contact form {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .contact form {
    width: 50%;
  }
}
@media (min-width: 1920px) {
  .contact form {
    width: 40%;
  }
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  background-image: url(../../assets/hero_background_mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .header-container {
    width: 100%;
    background-image: url(../../assets/hero_background_desk.svg);
  }
}

.active-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  background-color: #252b42;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 0;
}

.hero {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.hero__head {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.hero__head h1 {
  width: 90%;
  margin-top: 6rem;
  color: #fafafa;
  text-align: center;
}
@media (min-width: 768px) {
  .hero__head h1 {
    width: 90%;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .hero__head h1 {
    width: 100%;
    text-align: left;
  }
}
@media (min-width: 1920px) {
  .hero__head h1 {
    font-size: 6rem;
  }
}
.hero__head h4 {
  width: 65%;
  margin-top: 2.5rem;
  text-align: center;
  color: #fafafa;
}
@media (min-width: 768px) {
  .hero__head h4 {
    width: 90%;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .hero__head h4 {
    width: 100%;
    text-align: left;
  }
}
@media (min-width: 1920px) {
  .hero__head h4 {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .hero__head {
    width: 50%;
    margin-top: 0;
    margin-bottom: 2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: start;
    gap: 1rem;
  }
}
@media (min-width: 1920px) {
  .hero__head {
    width: 50%;
    height: 70vh;
  }
}
.hero__btn {
  width: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  .hero__btn {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 1rem;
  }
}
.hero__background {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.hero__background img {
  width: 100%;
  height: 100%;
  image-rendering: optimizeSpeed;
}
@media (min-width: 768px) {
  .hero__background img {
    height: 90vh;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .hero__background {
    width: 50%;
    height: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: end;
    gap: 0;
  }
}
@media (min-width: 480px) {
  .hero {
    margin-top: 3rem;
  }
}
@media (min-width: 600px) {
  .hero {
    margin-top: 3rem;
  }
}
@media (min-width: 768px) {
  .hero {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: end;
    gap: 0;
  }
}
@media (min-width: 1024px) {
  .hero {
    padding: 0 2rem 0 2rem;
  }
}
@media (min-width: 1920px) {
  .hero {
    padding: 0 5rem 0 5rem;
  }
}

.header__nav {
  width: 100%;
  position: fixed;
  background-color: #252b42;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}
.header__nav--logo-white {
  width: 15%;
}
@media (min-width: 768px) {
  .header__nav--logo-white {
    width: 8%;
  }
}
.header__nav--text {
  width: 60%;
  margin-left: -1.5rem;
  color: #fafafa;
  font-weight: 900;
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  .header__nav--text {
    width: 20%;
    font-size: 0.75rem;
    margin-left: 0.1rem;
  }
}
.header__nav--icon {
  cursor: pointer;
}
@media (min-width: 768px) {
  .header__nav--icon {
    display: none;
  }
}
.header__nav--close {
  width: 9%;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header__nav--close {
    display: none;
  }
}
.header__nav nav {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  display: none;
}
.header__nav nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 2.143rem;
}
.header__nav nav ul li, .header__nav nav ul li > a {
  width: 100%;
  text-align: center;
  color: #fafafa;
}
@media (min-width: 768px) {
  .header__nav nav ul li, .header__nav nav ul li > a {
    font-size: 0.8rem;
  }
}
@media (min-width: 1024px) {
  .header__nav nav ul li, .header__nav nav ul li > a {
    font-size: 1rem;
  }
}
@media (min-width: 1920px) {
  .header__nav nav ul li, .header__nav nav ul li > a {
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) {
  .header__nav nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }
}
.header__nav .no-show {
  display: none;
}
.header__nav .show {
  display: flex;
}
.header__nav .close-menu {
  display: flex;
  width: 9%;
}
@media (min-width: 480px) {
  .header__nav .close-menu {
    width: 7%;
  }
}
@media (min-width: 600px) {
  .header__nav .close-menu {
    width: 7%;
  }
}
@media (min-width: 768px) {
  .header__nav {
    width: 100%;
    position: fixed;
    height: auto;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  #nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }
}

.portfolio {
  width: 100%;
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #252b42;
}
.portfolio__head {
  width: 100%;
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #252b42;
  margin-top: 3rem;
}
.portfolio__head h2 {
  width: 90%;
  text-align: center;
  color: #fafafa;
}
@media (min-width: 1024px) {
  .portfolio__head h2 {
    width: 50%;
  }
}
@media (min-width: 1920px) {
  .portfolio__head h2 {
    width: 30%;
  }
}
.portfolio__head p, .portfolio__head label {
  width: 50%;
  text-align: center;
  color: #fafafa;
}
@media (min-width: 1024px) {
  .portfolio__head p, .portfolio__head label {
    width: 45%;
  }
}
@media (min-width: 1920px) {
  .portfolio__head p, .portfolio__head label {
    width: 30%;
    font-size: 1.25rem;
  }
}
.portfolio__card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 768px) {
  .portfolio__card-container {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }
}
@media (min-width: 1024px) {
  .portfolio__card-container {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .portfolio__card-container {
    width: 80%;
    gap: 2rem;
  }
}
@media (min-width: 1920px) {
  .portfolio__card-container {
    width: 80%;
    height: 30vh;
  }
}
@media (min-width: 1920px) {
  .portfolio {
    padding: 5rem;
  }
}

.clients {
  width: 100%;
  padding: 5rem 0 1rem 0;
  background-color: #8ec2f2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.clients__head {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.clients__head h2 {
  width: 80%;
  color: #fafafa;
  text-align: center;
}
.clients__head p, .clients__head label {
  width: 80%;
  color: #fafafa;
  text-align: center;
}
@media (min-width: 1024px) {
  .clients__head p, .clients__head label {
    width: 50%;
  }
}
@media (min-width: 1920px) {
  .clients__head p, .clients__head label {
    font-size: 1.25rem;
  }
}
.clients__card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0 1rem 0;
}
@media (min-width: 768px) {
  .clients__card-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }
}
@media (min-width: 1024px) {
  .clients__card-container {
    width: 80%;
    gap: 5rem;
  }
}
@media (min-width: 1200px) {
  .clients__card-container {
    width: 70%;
    gap: 10rem;
  }
}
@media (min-width: 1920px) {
  .clients__card-container {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .clients {
    padding: 3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
