/* Color variables */

$dark-background-color:#252b42;
$blue-primary-color:#23a6f0;
$white-primary-color:#fafafa;
$grey-border: #efefef;
$clear-blue-color: #8ec2f2;
$background-color-gradient-1: #d71489;
$background-color-gradient-2: #004788;
$facebook-icon-color: #335bf5;
$instagram-icon-color: #e51f5a;
$twitter-icon-color: #21a6df;
$text-color: #252b42;
$second-text-color: #737373;
