.clients {
  width: 100%;
  padding: 5rem 0 1rem 0;
  background-color: $clear-blue-color;

  @include flexbox (column, nowrap, center, center, 2rem);

  &__head {
    width: 100%;

    @include flexbox (column, nowrap, center, center, 2rem);

    h2 {
      width: 80%;
      color: $white-primary-color;
      text-align: center;
    }

    p {
      width: 80%;
      color: $white-primary-color;
      text-align: center;

      @include desktop-md {
        width: 50%;
      }

      @include desktop-xl {
        width: 60%;
        font-size: 1.8rem;
        line-height: 2.25rem;
      }

      @include desktop-xxl {
        font-size: 1.85rem;
      }
    }
  }

  &__card-container {
    width: 100%;

    @include flexbox (column, nowrap, center, center, 2rem);

    padding: 1rem 0 1rem 0;

    @include desktop-sm {
      width: 90%;

      @include flexbox (row, nowrap, space-around, center, 1rem);
    }

    @include desktop-md {
      width: 80%;
      gap: 5rem;
    }

    @include desktop-lg {
      width: 70%;
      gap: 10rem;
    }

    @include desktop-xxl {
      width: 60%;
    }
  }

  @include desktop-md {
    padding: 3rem;
  }
}
