.header-container {
  width: 100%;

  @include flexbox(column, nowrap, space-around, center, 0);

  background-image: url(../../assets/hero-cover-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include desktop-sm {
    width: 100%;
    background-image: url(../../assets/hero-cover-desk.png);
  }
}

.active-menu {
  width: 100%;

  @include flexbox(column, nowrap, space-around, center, 0);

  background-color: $dark-background-color;
}

.header {
  width: 100%;
  height: auto;

  @include flexbox (column, nowrap, start, center, 0);
}
