.portfolio {
  width: 100%;
  padding: 1.75rem;

  @include flexbox (column, nowrap, center, center, 2rem);

  background-color: $dark-background-color;

  &__head {
    @extend .portfolio;

    margin-top: 3rem;
    padding: 1rem;

    h2 {
      width: 90%;
      text-align: center;
      color: $white-primary-color;

      @include desktop-md {
        width: 50%;
      }

      @include desktop-xxl {
        width: 30%;
      }
    }

    p {
      width: 50%;
      text-align: center;
      color: $white-primary-color;

      @include desktop-md {
        width: 45%;
      }

      @include desktop-xxl {
        width: 30%;
        font-size: 1.25rem;
      }
    }
  }

  &__card-container {
    width: 100%;

    @include flexbox (column, nowrap, space-around, center, 2rem);

    @include desktop-sm {
      @include flexbox (row, nowrap, space-around, center, 1rem);
    }

    @include desktop-md {
      width: 90%;
    }

    @include desktop-lg {
      width: 80%;
      gap: 2rem;
    }

    @include desktop-xxl {
      width: 60%;
      gap: 8rem;
    }
  }
}
