// Hero buttons

.hero-cta {
  border: solid transparent 1px;
  border-radius: 2.643rem;
  width: 45%;
  padding: 0.8rem;
  cursor: pointer;
  background-color: $blue-primary-color;
  text-align: center;
  color: $white-primary-color;
}

.hero-info {
  @extend .hero-cta;

  border: solid 1px $white-primary-color;
  width: 35%;
  background-color: transparent;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

// Submit button
.submit-btn {
  border: solid transparent 1px;
  border-radius: 0.4rem;
  cursor: pointer;
  width: 100%;
  padding: 0.6rem;
  background-color: $blue-primary-color;
  color: $white-primary-color;
  font-size: 1.15rem;
}
