// Portfolio cards
.card-blue {
  border: solid transparent 2px;
  border-radius: 0.5rem;
  width: 80%;
  padding: 1.5rem;
  background-color: $blue-primary-color;

  figure {
    width: 100%;

    @include flexbox (column, nowrap, center, center, 1rem);

    img {
      width: 25%;
      color: $white-primary-color;
    }

    h5 {
      color: $white-primary-color;
    }
  }

  @include desktop-sm {
    &:hover {
      border: solid $white-primary-color 2px;
    }
  }

  @include desktop-xxl {
    height: 25vh;
  }
}

.card-white {
  @extend .card-blue;

  background-color: $white-primary-color;

  figure h5 {
    color: $dark-background-color;
  }

  @include desktop-sm {
    &:hover {
      border: solid $blue-primary-color 2px;
    }
  }

  @include desktop-xxl {
    height: 25vh;
  }
}

// Clients card
.client-card {
  width: 80%;
  padding: 1rem;
  background-color: $white-primary-color;

  @include flexbox (column, nowrap, center, start, 1rem);

  h3 {
    width: 100%;
    text-align: left;
    color: $text-color;
  }

  h6 {
    width: 100%;
    text-align: left;
    color: $second-text-color;
  }

  &__rate {
    width: 100%;

    @include flexbox (row, nowrap, start, center, 0.3rem);
  }

  p {
    width: 100%;
    padding: 0 8rem 0 0;
    text-align: left;
    color: $second-text-color;

    @include desktop-sm {
      width: 100%;
    }

    @include desktop-xxl {
      font-size: 1.25rem;
    }
  }

  @include desktop-sm {
    padding: 2rem;
  }

  @include desktop-xxl {
    width: 100%;
    height: 45vh;
    padding: 2.5rem;
  }
}
