// Portfolio cards
.card-blue {
  border: solid transparent 2px;
  border-radius: 0.5rem;
  width: 80%;
  height: 20vh;
  padding: 1.5rem;
  background-color: $blue-primary-color;

  @include flexbox (row, nowrap, center, center, 0);

  figure {
    width: 100%;

    @include flexbox (column, nowrap, center, center, 1rem);

    img {
      width: 25%;
      height: 8vh;
      color: $white-primary-color;
    }

    h5 {
      color: $white-primary-color;
    }
  }

  @include desktop-sm {
    height: 20vh;

    &:hover {
      border: solid $white-primary-color 2px;
    }
  }

  @include desktop-md {
    height: 20vh;
  }

  @include desktop-lg {
    height: 20vh;
  }

  @include desktop-xxl {
    height: 25vh;
  }
}

.card-white {
  @extend .card-blue;

  background-color: $white-primary-color;

  figure h5 {
    color: $dark-background-color;
  }

  @include desktop-sm {
    &:hover {
      border: solid $blue-primary-color 2px;
    }
  }

  @include desktop-xxl {
    height: 25vh;
  }
}

// Clients card
.client-card {
  width: 90%;
  padding: 2rem;
  background-color: $white-primary-color;

  @include flexbox (column, nowrap, center, start, 1rem);

  &__head {
    width: 90%;

    h3 {
      width: 100%;
      text-align: left;
      color: $text-color;
    }

    h6 {
      width: 100%;
      text-align: left;
      color: $second-text-color;
    }

    &--rate {
      width: 100%;

      @include flexbox (row, nowrap, start, center, 0.3rem);
    }

    @include desktop-sm {
      margin-top: 2rem;
      margin-left: 1rem;
      margin-bottom: 1rem;
    }

    @include desktop-xl {
      margin-top: 2rem;
      margin-left: 1rem;
      margin-bottom: 1.5rem;
    }
  }

  p {
    width: 90%;
    text-align: left;
    color: $second-text-color;

    @include desktop-sm {
      width: 75%;
      margin-left: 1rem;
      margin-bottom: 1rem;
    }

    @include desktop-md {
      width: 85%;
    }

    @include desktop-xl {
      width: 80%;
      margin-bottom: 1rem;
    }

    @include desktop-xxl {
      font-size: 1.25rem;
      width: 85%;
      margin-bottom: 2rem;
    }
  }

  @include desktop-sm {
    padding: 0;

    @include flexbox (column, nowrap, start, start, 0);
  }

  @include desktop-xl {
    width: 100%;
    padding: 0;
  }

  @include desktop-xxl {
    width: 100%;
  }
}
